<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.Debugger.Engine" version="16.0.2032702" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Debugger.Interop.11.0" version="11.0.50728" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Debugger.InteropA" version="9.0.21023" targetFramework="net471" />
</packages>